

ul.errorMessage {
  background-color: rgb(245, 130, 130);
  outline: 2px solid darkred;
  margin: 10;
  position: relative;
  width: auto;
  height: auto;
  display: inline-block;
}

ul.actionMessage {
  background-color: lime;
  outline: 2px solid darkgreen;
  margin: 10;
  position: relative;
  width: auto;
  height: auto;
  display: inline-block;
}

span.errorMessage {
	color: red;
	font-size: 14px;
}


body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 700px;
  padding: 10px 10px;
  background: #f4f7f8;
  border-radius: 8px;
  text-align: center;
}

h1 {
  margin: 0 0 30px 0;
  text-align: left;
  font-size: 25px;
}
/*
input[type="text"] {
  background: rgba(255,255,255,0.1);
  border: 1;
  font-size: 10px;  
  height: 25px; 
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 45%;
  background-color: #e8eeef; 
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
}
*/
fieldset {
  margin-bottom: 10px;
  /* border: none;*/
  border-style: solid;
  display: inline-block;
}

legend {
  font-size: 12px;
  margin-bottom: 5px;
}

label {
  display: inline;
  /* font-size: px;  */
  /* font-weight: bold; */
}

td.appTd, th.appTh {
  border: 1px solid #ddd;
  padding: 8px;
}

tr.appTr:nth-child(even){background-color: #f2f2f2;}

tr.appTr:hover {background-color: #ddd;}

th.appTh {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}