<html>

	<head>
		<meta charset="ISO-8859-1">
		<link th:href="@{/css/style.css}"  rel="stylesheet" type="text/css" /> 
	</head>
	<body>
		<div th:if="${disableField}">
			<script type="text/javascript">
			
				window.onload = function disableAllFields(){
					var form  = document.getElementById("saveOrUpdateUser");
					var allElements = form.elements;
					for (var i = 0, l = allElements.length; i < l; ++i) {
					       allElements[i].disabled=true;
					       if(allElements[i].type == 'submit'){
					       	allElements[i].style.display = 'none';
					       }
					}
				}
			</script>
		</div>
	
		
		<h1>
			<div th:if="${mode} == 'VIEW'"><span th:text="#{view.user}"></span></div>
			<div th:if="${mode} == 'CREATE'"><span th:text="#{add.user}"></span></div>
			<div th:if="${mode} == 'EDIT'"><span th:text="#{edit.user}"></span></div>
		</h1>
		<fieldset>
			<form action="#"  th:action="@{/saveOrUpdateUser}" method="post" id="saveOrUpdateUser" th:object="${user}">
				<input type="hidden" name="mode" th:value="${mode}" id="mode" />
				<div th:if="${#fields.hasAnyErrors()}">
		    		<ul class="errorMessage">
		        		<li th:text="#{errors.existed}" />
		    		</ul>
				</div>	
				<table>
					<tr><td colspan="2"><input type="hidden" th:field="*{id}" id="user.id" /><td></tr>
					<tr>
						<td><label class="label"><span th:text="#{user.name}"></span> :</label></td>
						<td><input type="text" th:field="*{name}"/>   </td><td>
							<ul>
        						<li th:each="err : ${#fields.errors('name')}" th:text="${err}" class="error" />
    						</ul>
    					</td> 
					</tr>
					<tr>
						<td><label class="label"><span th:text="#{user.city}"></span> :</label></td>
						<td><input type="text" th:field="*{city}"/></td><td>
							<ul>
        						<li th:each="err : ${#fields.errors('city')}" th:text="${err}" class="error" />
    						</ul>
    					</td> 
					</tr>
					<tr>
						<td><label class="label"><span th:text="#{user.gender}"></span> :</label></td>
						<td>
							<span th:each="entry : ${genderMap}">
								<input type="radio" th:field="*{gender}" th:value="${entry.key}" />
                    			<label th:text="${entry.value}"> </label>
                    		</span>
						</td>
					</tr>
					<tr>
						<td><label class="label"><span th:text="#{user.country}"></span> :</label></td>
						<td><select th:field="*{country}">
								<option th:each="entry : ${countryMap}" th:value="${entry.key}" th:text="${entry.value}" />
							</select>
						</td>
					</tr>
					<tr>
						<td><label class="label"><span th:text="#{user.about}"></span> :</label></td>
						<td><textarea th:field="*{aboutYou}" /></td>
					</tr>
					<tr>
						<td> </td>
						<td colspan="2"><input type="checkbox" th:field="*{mailingList}" /> 
							<label class="label"><span th:text="#{user.mailinglist}"></span> </label>
						</td>
					</tr>
					<tr>
						<td colspan="2"><input type="submit" th:value="#{user.save}"/></td>
					</tr>							
				</table>
				 
			</form>
		</fieldset>
		
		<br/>
		<div th:if="${mode} == 'EDIT'">
			<a th:href="@{/viewAddInvoice/{id}(id=${user.id})}" th:text="#{add.invoice}"> </a>
		</div>
		<div th:if="${(user.invoices != null && user.invoices.size != 0) || (modeInvoice != null && modeInvoice == 'CREATE')}">
			<form action="#"  th:action="@{/saveOrUpdateInvoice}" method="post" id="saveOrUpdateInvoice" th:object="${invoice}">
			<input type="hidden" name="userid" th:value="${user.id}" id="user.id.in.invoice" />
			<table border="1">
				<thead>
					<tr>
						<th class="appTh" th:text="#{id}"> </th>
						<th class="appTh" th:text="#{invoice.semester}"> </th> 
						<th class="appTh" th:text="#{invoice.amount}"> </th>
						<th class="appTh" th:text="#{invoice.memo}"> </th>	
						<th> </th>	
						<th> </th>
					</tr>
					<tr class="appTr" th:each="invoice: ${user.invoices}" >
						<td><span th:text="${invoice.id}" />  </td>
                		<td><span th:text="${invoice.semester}" />  </td>
                		<td><span th:text="${invoice.amount}" />  </td>
                		<td><span th:text="${invoice.memo}" />  </td>
                		<td><a th:href="@{/viewUpdateInvoice/{id}(id=${invoice.id})}"><img th:src="@{/images/modify_icon.jpg}" height="30" width="30" /></a></td>
                		<td><a th:href="@{/deleteInvoice/{userid}/{id}(id=${invoice.id},userid=${user.id})}"><img th:src="@{/images/delete_icon.jpg}" height="30" width="30" /></a></td>
					</tr>
					<tr class="appTr" th:if="${modeInvoice != null && modeInvoice == 'CREATE'}">
						<td><input type="text" size="3" disabled=disabled th:field="*{id}"/></td>
						<td><input type="text" size="5" th:field="*{semester}"/></td>
						<td><input type="text" size="6" th:field="*{amount}"/></td>
						<td><input type="text" size="15" th:field="*{memo}"/></td>
						<td><input type="image" th:src="@{/images/disk_icon.jpg}" height="30" width="30" /></td>
						<td> </td>
					</tr>
				</thead>
				<tbody>
				
				</tbody>
			</table>
		</div>

		<br/>
		<a th:href="@{/listUsers}" th:text="#{view.users}"> </a>
		<a th:href="@{/}" th:text="#{index.page}"> </a> 
	</body>

</html>